OLE_contract_*g2A.lh
*.tex
Status__*
Process/
Results.db*
*.swp
*.yoda
*.so
*.o
callgrind.out.*
vgcore.*
test
!test/
time
!time/
time_O*
*.out
*.pyc
*.csv
*.png
*.pdf
*.pickle
prec
!prec/
*.err
*.log
*.data
run-*/
.ipynb_checkpoints/
